NEXT_PUBLIC_MASTER_PANEL_URL=https://masterpanel.seoparadox.com
NEXT_PUBLIC_MASTER_API_URL=https://masterpanel.seoparadox.com
NEXT_PUBLIC_SITE_CODE=fgm44o8zll
NEXT_PUBLIC_FEED_REVALIDATE_SECONDS=300

NEXT_PUBLIC_SITE_NAME=Railsfreaks
NEXT_PUBLIC_SITE_TAGLINE=PDF + Social Profile platform
NEXT_PUBLIC_SITE_DESCRIPTION=A multi-task publishing platform combining pdf, profile experiences in one connected site.
NEXT_PUBLIC_SITE_DOMAIN=railsfreaks.com
NEXT_PUBLIC_SITE_URL=https://railsfreaks.com
NEXT_PUBLIC_SITE_OG_IMAGE=/og-default.png
NEXT_PUBLIC_GOOGLE_MAPS_EMBED_API_KEY=
